.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #003844;
}

h1 {
  margin: 30px;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #84C318;
}

p {
  font-size: 2rem;
  color: #84C318;
  font-family: 'Luckiest Guy', cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 25px;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
